GRAPH_CLIENT_ID=
GRAPH_TENANT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_MODE=hybrid
GRAPH_NEWS_SITE_IDS=
GRAPH_SEARCH_ENTITY_TYPES=site,listItem,driveItem
GRAPH_CACHE_TABLE_NAME=GraphCache
STORAGE_ACCOUNT=
STORAGE_KEY=
DIRECT_LINE_SECRET=
